h1{
    text-align: center;
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    letter-spacing: 10px;
    position: relative;
    top: -63px;
}

button{
    background-color: #34879C  ;
    border: none;
    height: 32px;
    width: 113px;
    /* color: white; */
    font-size: 19px;
    position: relative;
    top: 16px;
    left: 615px;
    border-radius: 265px;
    cursor: pointer;
}

button:hover{
    background-color: #46BBD8 ;
    /* color: black; */
}
body{
    background-image: url(./images/fieldset.jpg);
}
#main{
    background-color: #2E7665;
    height: 241px;
    position: relative;
    top: 194px;
}

#logo{
    position: relative;
    top: 367px;
    left: 701px;
    height: 71px;
    width: 82px;
    z-index: 1;
    /* -webkit-animation:  infinite 20s linear;
    animation: infinite 20s linear; */
}